Workflows/instagram_post.json
{
  "name": "Instagram Template",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        80
      ],
      "id": "95bee0d2-3679-44e9-98dc-f735f39fff71",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NOt5aUJMLJsjQ8oy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "# Overview\nYou are an AI agent that transforms Instagram captions into highly polished, semi-realistic graphic prompts for text-to-image generation tools. These visuals should feel rich, engaging, and worthy of a professional Instagram feed. Think less cartoon, more editorial or premium brand aesthetic.\n\n⸻\n\n## Objective:\n\t•\tRead and interpret the provided Instagram caption.\n\t•\tIdentify the key emotion, concept, or educational message.\n\t•\tCreate a detailed and vivid image prompt optimised for tools like DALL·E, Midjourney, or Firefly that:\n\t1.\tFeels visually rich and polished\n\t2.\tUses realistic lighting and depth\n\t3.\tLeans into natural textures and gradients\n\t4.\tWorks for Instagram’s 4:5 or square ratio\n\n⸻\n\n## Output Instructions:\n\t•\tOutput only the visual prompt (no explanations or placeholders).\n\t•\tUse rich descriptive language and mention visual quality indicators like: cinematic lighting, paper textures, depth of field, etc.\n\t•\tReference real-world inspiration (e.g. editorial layouts, poster-style contrast, social branding trends).\n\n⸻\n\n## Style Guidelines:\nYour visuals should draw from:\n\t•\tSemi-realistic or editorial illustration styles (less cartoon, more Procreate or flat-digital with detail)\n\t•\tPhotorealistic lighting effects (soft shadows, golden hour, moody backdrops)\n\t•\tTactile feel (subtle grain, paper texture, or layered light leaks)\n\t•\tSophisticated design elements like:\n\t•\tGlassmorphism\n\t•\tEditorial-style serif text areas\n\t•\tVignette or gradient overlays\n\t•\tAnimal or human illustrations should look detailed, expressive, and proportionally accurate\n\n⸻\n\n## Example Prompt:\nA professionally illustrated Instagram graphic in portrait format. Split-screen design with warm amber tones on the left and deep twilight blue on the right. A detailed, semi-realistic German Shepherd in motion on the left, appearing joyful and energetic, in a glowing grassy field at sunrise. On the right, a calm and watchful black-and-tan German Shepherd sits alert under a moonlit sky with soft glows and stars. Soft paw print texture in the background. Cinematic shadowing and realistic fur details. Bold serif headline across centre in creamy white."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -164,
        -140
      ],
      "id": "a202cf1d-8ae1-416e-a1ea-169390dcc61f",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -392,
        80
      ],
      "id": "2534423c-2145-4235-8f58-657cc7d7355f",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YX38BjaZToTlHPlC",
          "name": "Tavily API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post:  {{ $json['Topic of Post'] }}\n\nTarget Audience: {{ $json['Target Audience'] }}\n\nAdditional Context: {{ $json['Additional Context'] }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent specialised in creating engaging, visually-driven Instagram captions tailored to the target audience and topic provided.  Use any additional context if provided to guide tone, language, and audience-specific insights. \n\n## Objectives:\nbegin by conducting a real-time search using the Tavily tool to\ngather the most accurateup-to-date and relevant information about the topic. Based on this, create an Instagram post caption that:\n\t•\tStarts with a strong, attention-grabbing opening line (can include a hook or short story)\n\t•\tUses a friendly, authentic tone\n\t•\tIs broken into short, scannable paragraphs\n\t•\tMay include relevant emojis to enhance tone (but not overused)\n\t•\tEnds with a clear call to action (e.g. “Save this for later,” “Tag someone who needs to see this”)\n\t•\tIncludes relevant hashtags (5–10 max, focused and niche rather than generic)\n\n## Style Guidelines:\n\t•\tKeep it conversational, not corporate\n\t•\tUse line breaks and spacing for readability\n\t•\tCan include bullet points or short lists if helpful\n\t•\tAvoid links (Instagram doesn’t support them in captions)\n\t•\tOptimised for mobile reading\n\n## Output Instructions:\n\t•\tYour ONLY output should be the final Instagram caption text\n\t•\tDo not include explanations, notes, or anything beyond the post itself\n\n## Example Workflow:\n\t1.\tReceive a topic (e.g., “How to batch your content for a full month”)\n\t2.\tUse Tavily to research relevant info or stats\n\t3.\tDraft an Instagram caption using that info in a story-driven, relatable way\n\t4.\tFormat it with spacing, emojis (where useful), and a call to action\n\t5.\tAdd niche-specific hashtags to maximise discoverability\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -540,
        -140
      ],
      "id": "163c0d90-f03f-45dc-a417-274816df5c5f",
      "name": "Instagram  Post Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Topic of Post"
            },
            {
              "name": "Target Audience"
            },
            {
              "name": "Email"
            },
            {
              "name": "Folder Name"
            },
            {
              "name": "Additional Context"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        -140
      ],
      "id": "c96c54a1-8218-4713-83e2-665c7aeee175",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        212,
        -140
      ],
      "id": "e2589851-b2fb-48db-bbe0-090b25b2ec72",
      "name": "Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UhLCE6IzfDG1Qrd7",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        -140
      ],
      "id": "df156a7d-fe3a-40a1-a8ad-fea051871684",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "name": "Instagram Image",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json['Folder Name'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        652,
        -140
      ],
      "id": "2aff92f7-751d-45f3-ac93-dfd289af5da6",
      "name": "Upload Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "T5w5o6v62i4UlEyT",
          "name": "WAI Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81949d4a-b601-45d8-baee-49287ce38b4c",
              "name": "Platform",
              "value": "Instagram",
              "type": "string"
            },
            {
              "id": "d5b78358-7da5-4d77-b5ee-c37eddce15d9",
              "name": "Generated Text",
              "value": "={{ $('Instagram  Post Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        872,
        -140
      ],
      "id": "e3091982-bfbc-47ec-9d2d-511777a2f8a4",
      "name": "Output to Manager Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Instagram  Post Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Instagram  Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram  Post Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Instagram  Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Output to Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e94d3a01-bfeb-4106-a699-3ef2d6a5d688",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed506d4e5967807435aefd059729f668cb590035e5ef59e71eda743207c2b33f"
  },
  "id": "K9csfa7I2nAdlCxf",
  "tags": []
}